
<div class="bg">
<div class="main about-main">
    <h2>afec</h2>
    <p>Don't you feeling alone?</p>
    <p>You left local currency?</p>
    <p>With afec you can find friend <br> who has currency you need <br>and needs currency you have.</p>
    <p>let's meet up at cafe, <br>then exchange and drink coffee <br>with committion which you saved by exchange!</p>
</div>
</div>
