
<div class="bg">
<div class="main about-main">
    <h2>afec</h2>
    <p>空港で1人でさみしくないですか？</p>
    <p>旅行から帰るとき、ほかの国に移動するときに現地通貨が余ってませんか？</p>
    <p>その通貨が欲しい人と、あなたの欲しい通貨に交換しませんか？</p>
    <p>そして、得した手数料で一緒にコーヒー飲みませんか？</p>
</div>
</div>
