<div class="top-main-test">
  <div class="top-message-test">
    <h2>Exchange<br></h2>
    <h3>more than money,</h3>
    <h3>feelings!</h3>
    <p>by afec</p>
  </div>
  <div class="login-signup-wrappe-testr">
    <a class = "submit-btn-test signup-show">Signup</a>
  </div>
</div>
<div class="howitworks">

  <div class="message-test">
    <h2>what's afec</h2>
    <p>Afec is an matching application for travelers in airports. You can find who have currency what you need and needs currency what you have by only three steps.</p>
    <p>Then have a coffee with new a friend, with the committions you saved by exchange free.</p>
  </div>
    <h2>How it works</h2>
  <img src="/background-images/iphone6-test.png" alt="">

  <div class="discriptions">
    <h3>Post</h3>
    <p>First, you post your status like what currency you have and want.</p>
    <h3>Offer</h3>
    <p>Second, you can see the list of travelers who match your status. Just send offer who you want!
    <h3>Exchange</h3>
    Finally, exchange not only money, exchange feelings with a couple of coffee!</p>
  </div>
</div>
<div class="footer-test">
  <p>All designed and developed by Hijiri.</p>
</div>
