<script type="text/javascript" charset="utf-8">
	window.onload = function() {
		setTimeout(function(){window.scrollTo(0, 1);}, 100);
	}
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAyhGYfqVCJlu4nw3oBC8BQgHgUdpKyoLs&sensor=true&libraries=visualization"></script>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style>
#map_canvas {
	width: 500px;
	height: 500px;
	border: 1px solid #000;
}
</style>
</head>
<body>
	<div>
		<b>現在地情報</b><br />
		取得<div id="n"></div>
		経度<div id="x"></div>
		緯度<div id="y"></div>
	</div><br />

	<div id="map_canvas">マップ読み込み中</div>

	<img src="1.jpg">→現在地<br />
	<img src="1.jpg">→目的地(大阪城を設定)

	<script>
	$(function(){
		var count = 1;
		var currentWindow = null;
		var map;
		var marker;
		var sampleMarker;
		var geoOptions = {
			enableHighAccuracy : true, //精度を高める
			timeout : 6000, //タイムアウトは6秒
			maximumAge : 0 //キャッシュはさせない
		}

		//現在位置の取得
		if (navigator.geolocation) {
			navigator.geolocation.watchPosition( //watchPositionとすることで定期的に現在地を取得
			function (pos) {
				//取得状況
				$('#n').html((count++) + "回目");
				$('#x').html(pos.coords.latitude);
				$('#y').html(pos.coords.longitude);

				var mapData = { 'x':pos.coords.latitude, 'y':pos.coords.longitude, 'balloon':'現在位置' };
				var latlng = new google.maps.LatLng(mapData.x, mapData.y);
				if( !map ){ //初回のみマップ生成
					var myOptions = { zoom: 10, center: latlng, mapTypeId: google.maps.MapTypeId.ROADMAP };
					map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
				}
				if( marker ){ //現在地マーカーが設置されている場合は消去
					marker.setMap(null);
				}
				if( !sampleMarker ){ //初回のみ目的地マーカーを設置
					sampleMarker = { 'x':'34.687315', 'y':'135.526201', 'balloon':'大阪城' };
					makeMarker2( sampleMarker );
				}
				makeMarker( mapData ); //現在地マーカーを設置
			},
			function (error) {
				var msg;
				switch( error.code ){
					case 1: msg = "位置情報の利用が許可されていません"; break;
					case 2: msg = "位置が判定できません"; break;
					case 3: msg = "タイムアウトしました"; break;
				}
				alert(msg);
			});
		} else {
			alert("本ブラウザではGeolocationが使えません");
		}

		//マーカー作成
		function makeMarker( mapData ){
			marker = new google.maps.Marker({
				position : new google.maps.LatLng(mapData.x,mapData.y),
				map: map,
				icon: 'public/user_images/1.jpg'
			});

			var infoWindow = new google.maps.InfoWindow();
			google.maps.event.addListener(marker, 'click', function() {
				if (currentWindow) {
					currentWindow.close();
				}
				infoWindow.setContent(mapData.balloon);
				infoWindow.open(map,marker);
				currentWindow = infoWindow;
			});
		}

		//マーカー作成
		function makeMarker2( mapData ){
			var marker2 = new google.maps.Marker({
				position : new google.maps.LatLng(mapData.x,mapData.y),
				map: map,
				icon: "public/user_images/1.jpg"
			});

			var infoWindow = new google.maps.InfoWindow();
			google.maps.event.addListener(marker2, 'click', function() {
				if (currentWindow) {
					currentWindow.close();
				}
				infoWindow.setContent(mapData.balloon);
				infoWindow.open(map,marker2);
				currentWindow = infoWindow;
			});
		}
	});
	</script>
