<style media="screen">
.myHistory{
  margin-top: 60px;
}
</style>

<div class="main">
  <div class="myHistory">
    <div class="mypost-user-name">
      <img src="<%="/user_images/#{@current_user.image_name}"%>" alt="">
      <%=link_to("#{@current_user.name}","/users/#{@current_user.id}/show")%>
    </div>
    <div class="mySavedStatus">
      You saved<br>


      <%rates=Exchange.all%>
      <%rates.each do |rate|%>
        <%=rate.currency%>=<%=rate.rate%><br>
      <%end%>








    </div>
  </div>
</div>
