<html>
<head>
<title>Leaflet</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<style type="text/css">
    #map { height: 500px; width: 500px}
    #map{
      /* display: none; */
    }
    #testest{
      margin-top:500px;
      font-size: 30px;
    }
</style>

</head>

<body>
<div id="map" style="width: 600px; height: 400px"></div>
<button id="testest" type="button" name="button">test</button>
<script>

navigator.geolocation.watchPosition(successCallback, errorCallback);

function successCallback(position) {

    var lat = position.coords.latitude;
    var lng = position.coords.longitude;

var o_std = new L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&amp;copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
});

var map = L.map('map', {
    center: [lat,lng],
    zoom: 17,
    zoomControl: false,
    layers: [o_std]
});

  var mapMarker = L.marker([lat, lng], { title: '現在地' }).addTo(map);

L.Routing.control({
    waypoints: [
        L.latLng(lat,lng),
        L.latLng(35.6852696,139.7630878)
    ],
}).addTo(map)
}

function errorCallback(error) {
    alert("位置情報取得に失敗しました。");
}







</script>

</body>
</html>
