
<div class="main top-main">
  <div class="top-message">
    <h2>afec(demo)</h2>
    <h3>Airport Free Exchange Cafe</h3>
    <p>left local currency?<br>feeling alone in the Airport?<br>then let's exhange!</p>
  </div>
  <div class="login-signup-wrapper">
    <a class = "login-show">Login</a>
    <a class = "signup-show">Signup</a>


  </div>
</div>
