
<div class="main top-main">
  <div class="top-message">
    <h2>afec</h2>
    <h3>Airport Free Exchange Cafe</h3>
    <p>空港で現金余ってませんか？<br>一人でさみしくないですか？<br>余った現金を誰かと両替して、浮いた手数料でコーヒー飲みませんか？</p>
  </div>
  <div class="login-signup-wrapper">
    <a class = "login-show">ログイン</a>
    <a class = "signup-show">新規登録</a>


  </div>
</div>
