
<div class="main post-new">
  <div class="container">
    <h1 class = "form-heading">投稿する</h1>
    <%=form_tag("/posts/create") do%>
      <div class="form">
        <div class="form-body">
          <%@post.errors.full_messages.each do |message|%>
            <div class="form-error">
              <%=message%>
            </div>
          <%end%>

          <p>i have</p>
          <select name="currency_have" class="form-control" id="Currency">
                <!--option value="">▼通貨</option-->
                <option value="1">Currency</option>
                <option value="usd">$(USD)</option>
                <option value="eur">€(EUR)</option>
                <option value="jpy">¥(JPY)</option>
          </select>

          <input name="input_currency" class="form-control location" size="5" placeholder="amount" type="number" id="currency">
          <p>i want</p>
          <select name="currency_want" class="form-control" id="Currency_base">
                <!--option value="">▼通貨</option-->
                <option value="1">Currency</option>
                <option value="usd">$(USD)</option>
                <option value="eur">€(EUR)</option>
                <option value="jpy">¥(JPY)</option>
          </select>
          <input id="returnYen" class = "location" type="float" name="currency_want_amount"  placeholder="amount">

          <p id = "test">位置情報</p>
          <p>緯度</p><input name = "lat" class = "lat"  value="未取得">
          <p>経度</p><input name = "lng" class = "lng"  value="未取得">

          <input id = "message" name="content" placeholder="message">

          <input class = "location" type="submit" name="" value="投稿">

        </div>
      </div>
    <%end%>
  </div>
</div>



  <!-- <script>
    $("div#source_form").click(function(){
      $.ajax({
        url: "sources/set_content",
        type: "GET",
        data: {content : $("div#editor").text()},
        datatype: "html",
        success: function(data){
          //成功時の処理
        },
        error: function(data){
          //失敗時の処理
        }
      });
    });
  </script> -->
