// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* reset ================================ */

* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;

}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* 共通レイアウト ================================ */

body {
  color: #2d3133;
  background-color: #EFEBE9;
  margin: 0;
  min-height: 1vh;
}

.main {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  // background-color: #EFEBE9;
  background-color: #f7f7f7;
}

.container {
  max-width:600px;
  margin: 60px auto;
  padding-top: 64px;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
  position:relative;
}



/* top ================================ */
.top-main {
  padding: 200px 0 100px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: white;
  background-color: #7b5544;
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.3)),url("/background-images/cafe_top.jpg");
  background-size: cover;
  background-position: center;
}

.top-message {
  position: relative;
}

.top-main h2 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
  opacity: 0.8;
}

.top-main h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
  opacity: 0.8;
}

.top-main p {
  font-size: 24px;
  opacity: 0.8;
}

.login-signup-wrapper {
  margin-top: 60px;
}

.login-signup-wrapper a{
  padding:15px 40px;
  background-color:rgba(255,255,255,.3);
  border-radius: 3px;
  color: rgba(255,255,255,.8);
  margin:0 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.login-signup-wrapper :hover{
  background-color:rgba(255,255,255,.4);
  color: rgba(255,255,255,1);
  border: 0.3px solid white;
}










.top-main-test {
  padding: 120px 0 100px;
  text-align: center;
  width: 100%;
  height: 550px;
  color: white;
  background-color: #7b5544;
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url("/background-images/test.jpg");
  background-size: cover;
  background-position: bottom;
}

.submit-btn-test {
    display: inline-block;
    padding: 8px 50px;
    background-color: #4CAF50;
    border: none;
    border-radius: 50px;
    color: white;
    margin: 50px auto;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.submit-btn-test :hover {

    background-color: #4CAF50;
}
.top-message-test {
  position: relative;
}

.top-main-test h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
  opacity: 0.8;
}

.top-main-test h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
  opacity: 0.8;
}

.top-main-test p {
  padding-top: 10px;
  font-size: 24px;
  opacity: 0.8;
}


.howitworks{
  height:900px;
}

.message-test{
  padding: 0 25px;
}

.message-test p{
  padding-bottom:5px;
}

.howitworks h2{
  color:	#555555;
  text-align: center;
  padding: 35px 0 5px 0;
}

.howitworks h3{
  color:	#555555;
  text-align: left;
  // padding: 30px 0 20px 0;
  padding-top:15px;
}

.discriptions {
  padding-left: 25px;
}

.howitworks img{
  float:right;
  height:500px;
}

.footer-test{
   background-color: #795548;
   height:40px;
   color:white;
   text-align: right;
   line-height: 40px;
   font-size: 14px;
   padding-right: 10px;
}






/* about ================================ */
.about-main {
  padding: 180px 8% 0;
  color: white;
  background-color: #7b5544;
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.3)),url("/background-images/cafe_about.jpg");
  background-size: cover;
  background-position: center;
}


.about-main h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.4;
  opacity: 0.9;
}

.about-main p {
  font-weight: 200;
  font-size: 16px;
  opacity: 0.9;
  padding-bottom: 10px;
}

.about-img {
  width: 84%;
}

/* フォーム================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  // background-color: white;
  // box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.form-body {
  padding: 0 30px;
  text-align: left;
}

.form-error {
  color: #ff4d75;
}

.form input, select {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
}



.editable {
  background-color: white;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  // font-weight: 300;
  border-radius: 50px;
  // padding:12px 0;
  margin-top: 10px;
  // font-size: 18px;
  cursor: pointer;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

.test {
  height: 20px;
}

/* フラッシュ ================================ */
.flash {
  padding: 3px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 58px;
  z-index: 5;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}



/* アップデート =================================== */

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

// レスポンシブ================================
// @media(max-width: 670px) {
//   .login-signup-wrapper {
//     margin-top: 30px;
//   }
//
//   .login-signup-wrapper a{
//     padding:15px 0;
//     display: block;
//     width:80%;
//     margin:20px 40px;
//     background-color:rgba(255,255,255,.3);
//     border-radius: 3px;
//     color: rgba(255,255,255,.8);
//     box-sizing: border-box;
//     cursor: pointer;
//   }
//
//   .top-main {
//     padding: 80px 0 100px;
//   }
//
//   .top-main p {
//     font-size: 20px;
//     opacity: 0.8;
//   }
//
//   }






  // test
